.device {
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 16px;

  :global {

    .device-title {
      white-space: nowrap;

      &-text {
        &-icon {
          width: 20px;
          height: 20px;
        }

        &-text {
          margin: 0 4px;
        }
      }

      &-add {
        &-text {
          margin-right: 8px;
        }
      }
    }

    .device-content {
      width: 100%;
      overflow-y: auto;
      gap: 16px;

      .device-item {
        width: 100%;
        padding: 0px 16px;

        &-left {
          gap: 8px;

          &-icon-box {
            width: 80px;

            &-icon {
              width: 100%;
              height: 100%;
            }
          }

          &-name {
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }
    }
  }
}