@fontColor: linear-gradient(to right, #8bf3ff, #dffdff, #4cecd9);

.homeWarp {
  width: 100%;
  height: 100%;
  padding: 16px;
  overflow-y: auto;
  background-image: url('@/assets/images/background/home-bg2.png');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 20px;

  * {
    user-select: none;
  }

  :global {
    .home-top {
      width: 100%;
      margin-bottom: 16px;

      &-btn {
        width: 152px;
        text-align: center;
        background-image: url('@/assets/images/button/blue-btn1.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 8px 16px;
        cursor: pointer;

        &-text {
          background-image: @fontColor;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .home-content {
      width: 100%;
      flex-wrap: wrap;
      gap: 16px;

      &-item {
        width: calc(25% - 16px * 3 / 4);
        min-width: 104px;
        max-width: 200px;
        text-align: center;
        background-image: url('@/assets/images/button/blue-btn2.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 12px 16px;
        cursor: pointer;

        &-text {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          background-image: @fontColor;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }

    .ant-modal> :first-child {
      height: 100%;
    }

    .video-add-modal-content {
      background: transparent;

      .ant-modal-content {
        width: 100%;
        height: 100%;
        background-color: transparent;
        box-shadow: none;
        padding: 0;

        .ant-modal-body {
          width: 100%;
          height: 100%;
        }
      }

      .video-add-modal {
        width: 100%;
        height: 100%;
        background-image: url('@/assets/images/background/modal-bg2.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        color: #eee;
        overflow: hidden;
        user-select: text;

        .ant-select {
          * {
            font-size: 20px;
          }
        }

        .ant-select-selector {
          background: transparent;
          border: none;
          padding: 0;
        }

        .ant-select-selection-item,
        .ant-select-selection-placeholder {
          background-image: @fontColor;
          background-clip: text;
          -webkit-text-fill-color: transparent;
        }

        &-title {
          width: 42%;
          margin: 0 auto;
          font-size: 24px;
          font-weight: bolder;
          margin-top: 5%;
          padding: 4px 16px;
          background-image: url('@/assets/images/button/blue-btn4.png');
          background-size: 100% 100%;
          background-position: center;
          background-repeat: no-repeat;

          &-text {
            width: 100%;
            height: 100%;
            background-image: @fontColor;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }

        &-content {
          flex-direction: column;
          justify-content: flex-start;
          width: 70%;
          flex: 1;
          margin: 0 auto;
          overflow-y: auto;
          margin-bottom: 16px;

          .ant-form {
            width: 100%;
            position: relative;

            .ant-form-item {
              border-bottom: 3px solid rgba(255, 255, 255, 0.6);
              margin-bottom: 24px;

              .ant-form-item-label>label,
              .adm-input-element,
              .ant-form-item-explain-error {
                font-size: 20px;
                height: auto;
              }

              .ant-form-item-label>label,
              .adm-input-element {
                background-image: @fontColor;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }

              .ant-form-item-label {
                padding: 0;

                label {
                  line-height: 1;
                }
              }

              .ant-form-item-explain-error {
                position: absolute;
              }

              .ant-form-item-label>label::before {
                display: none;
              }
            }
          }
        }

        &-footer {
          gap: 24px;
          margin-bottom: 10%;
          font-size: 20px;

          &-btn,
          &-btn1 {
            width: 30%;
            height: 100%;
            padding: 8px 16px;
            border-radius: 16px;
            background: linear-gradient(135deg, rgba(28, 150, 115, 0.5) 0%, rgba(63, 98, 101, 0.1) 50%, rgba(14, 76, 80, 0.1) 100%);
            backdrop-filter: blur(10px);
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.3);
            cursor: pointer;

            &-text {
              background-image: @fontColor;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
          }

          &-btn1 {
            background: linear-gradient(135deg, rgba(14, 76, 80, 0.1) 0%, rgba(63, 98, 101, 0.1) 50%, rgba(28, 150, 115, 0.5) 100%);
          }
        }
      }
    }
  }
}