html,
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;

  #root {
    width: 100%;
    height: 100%;
  }
}

html {
  touch-action: manipulation;
}

.loading-warp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.5);

  &-text {
    margin-top: 15px;
    color: #333333;
    font-size: 28px;
  }
}

.flex-box {
  display: flex;
  display: -ms-flex;
  align-items: center;
}

.flex-box-column {
  display: flex;
  display: -ms-flex;
  flex-direction: column;
}

.flex-box-start {
  display: flex;
  display: -ms-flex;
  align-items: flex-start;
}

.flex-box-end {
  display: flex;
  display: -ms-flex;
  align-items: flex-end;
}

.flex-box-align-end {
  display: flex;
  display: -ms-flex;
  align-items: flex-end;
}

.flex-box-justify-end {
  display: flex;
  display: -ms-flex;
  justify-content: flex-end;
}

.flex-box-justify-start {
  display: flex;
  display: -ms-flex;
  justify-content: flex-start;
}

.flex-box-justify-between {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-align: center;
}

.flex-box-justify-around {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: space-around;
  -webkit-box-align: center;
}

.flex-box-center {
  display: flex;
  display: -ms-flex;
  align-items: center;
  justify-content: center;
}